@media(max-width:1850px) {
    .header {
        &_top {
            padding: 28px 15px 0px 15px;
        }

        &_bottom {
            &--container {
                &--info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--img {
                        position: relative;
                        width: 420px;
                        right: 0;
                        margin: 0 auto;
                    }

                    &--block {
                        padding: 50px 30px;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &--p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1300px) {
    .header {
        &_bottom {
            &--container {
                max-width: 1000px;
                margin-left: 140px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &--h {
                    text-align: center;
                }

                &--info {
                    &--block {
                        width: 800px;
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr); // 2 columns for top row
                        grid-auto-rows: auto; // height auto
                        gap: 20px; // space between cards
                        justify-items: center; // centers cards in their grid cell

                        &--box {
                            order: 1;
                        }
                    }

                    &--img {
                        right: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:1180px) {
    .header {
        &_top {
            max-width: 1000px;

            &--info {
                &--nav {
                    display: none;
                }
            }

            &--search {
                svg {
                    display: flex;
                }
            }
        }

        &_bottom {
            &--days {
                display: none;
            }

            &--container {
                margin: 0 auto;
            }
        }
    }
}

@media(max-width:850px) {

    .header {
        &_top {
            width: 314px;
            padding: 0;
            padding-top: 28px;

            &--info {
                padding: 0;
                img {
                    width: 150px;
                    height: auto;
                }
            }
        }
        &_bottom {
            &--container {
                padding-top: 0;

                &--h {
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 58.15px;
                    line-height: 63px;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 8px;
                    width: 315px;
                }

                &--btn {
                    width: 315px;
                    margin-bottom: 54px;
                }

                &--info {
                    &--block {
                        width: 314px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 35px 72px 30px 32px;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;

                            &--p {
                                text-align: left;
                            }
                        }

                        &--box3 {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;

                            &--p {
                                text-align: left;
                            }
                        }
                    }

                    &--img {
                        width: 315px;

                        img {
                            width: 315px;
                            height: auto;
                        }

                        svg {
                            top: 65px;
                            left: 125px;
                        }
                    }
                }
            }
        }
    }
}