@media(max-width:1850px) {
    .header {
        &_top {
            padding: 28px 15px 0px 15px;
        }

        &_bottom {
            &--container {
                &--info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--img {
                        position: relative;
                        width: 420px;
                        right: 0;
                        margin: 0 auto;
                    }

                    &--block {
                        padding: 50px 30px;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &--p {
                                text-align: center;
                            }
                        }

                        &--box3 {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &--p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1480px) {
    main {
        .recommendation {
            &_container {
                &--top {
                    &--block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &--title {
                                text-align: center;
                                margin-top: 30px;
                            }

                            &--text {
                                text-align: center;
                                margin-top: 30px;
                            }
                        }
                    }
                }

                &--bottom {
                    &--block {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &--title {
                                text-align: center;
                                margin-top: 30px;
                            }

                            &--text {
                                text-align: center;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1300px) {
    .header {
        &_bottom {
            &--container {
                max-width: 1000px;
                margin-left: 140px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &--h {
                    text-align: center;
                }

                &--info {
                    &--block {
                        width: 800px;
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr); // 2 columns for top row
                        grid-auto-rows: auto; // height auto
                        gap: 20px; // space between cards
                        justify-items: center; // centers cards in their grid cell

                        &--box {
                            order: 1;
                        }
                    }

                    &--img {
                        right: 0;
                    }
                }
            }
        }
    }

    main {
        .videos {
            &_container {
                &--box {

                    &--bottom {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .gallery {
            &_container {
                &--box {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;

                    &--img--1 {
                        aspect-ratio: 151 / 217;
                        grid-column: 1 / 2;
                        grid-row: span 2;
                    }

                    &--img--2 {
                        aspect-ratio: 151 / 86;
                        grid-column: 2 / 3;
                        grid-row: span 1;
                    }

                    &--img--3 {
                        aspect-ratio: 150 / 153;
                        grid-column: 2 / 3;
                        grid-row: span 2;
                    }

                    &--img--4 {
                        aspect-ratio: 151 / 217;
                        grid-column: 1 / 2;
                        grid-row: span 1;
                    }

                    &--img--5 {
                        aspect-ratio: 151 / 86;
                        grid-column: 1 / 2;
                        grid-row: span 1;
                    }

                    &--img--6 {
                        aspect-ratio: 150 / 153;
                        grid-column: 2 / 3;
                        grid-row: span 1;
                    }
                }
            }
        }
    }
}


@media(max-width:1180px) {
    .header {
        &_top {
            max-width: 1000px;

            &--info {
                &--nav {
                    display: none;
                }
            }

            &--search {
                svg {
                    display: flex;
                }
            }
        }

        &_bottom {
            &--days {
                display: none;
            }

            &--container {
                margin: 0 auto;
            }
        }
    }

    main {
        .gallery_container--box {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            &--img--1 {
                aspect-ratio: 151 / 217;
                grid-column: 1 / 2;
                grid-row: span 2;
            }

            &--img--2 {
                aspect-ratio: 151 / 86;
                grid-column: 2 / 3;
                grid-row: span 1;
            }

            &--img--3 {
                aspect-ratio: 150 / 153;
                grid-column: 2 / 3;
                grid-row: span 2;
            }

            &--img--4 {
                aspect-ratio: 151 / 217;
                grid-column: 1 / 2;
                grid-row: span 1;
            }

            &--img--5 {
                aspect-ratio: 151 / 86;
                grid-column: 1 / 2;
                grid-row: span 1;
            }

            &--img--6 {
                aspect-ratio: 150 / 153;
                grid-column: 2 / 3;
                grid-row: span 1;
            }
        }
    }
}

@media(max-width:850px) {

    .header {
        &_top {
            width: 314px;
            padding: 0;
            padding-top: 28px;

            &--info {
                padding: 0;

                img {
                    width: 150px;
                    height: auto;
                }
            }
        }

        &_bottom {
            &--container {
                padding-top: 0;

                &--h {
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 58.15px;
                    line-height: 63px;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 8px;
                    width: 315px;
                }

                &--btn {
                    width: 315px;
                    margin-bottom: 54px;
                }

                &--info {
                    &--block {
                        width: 314px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 35px 72px 30px 32px;

                        &--box {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;

                            &--p {
                                text-align: left;
                            }
                        }

                        &--box3 {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: start;

                            &--p {
                                text-align: left;
                            }
                        }
                    }

                    &--img {
                        width: 315px;

                        img {
                            width: 315px;
                            height: auto;
                        }

                        svg {
                            top: 65px;
                            left: 125px;
                        }
                    }
                }
            }
        }
    }

    main {
        .recommendation {
            &_container {

                &--top,
                &--bottom {
                    &--block {
                        &--box {
                            &--title {
                                font-size: 40px;
                                width: 308px;
                                text-align: left;
                            }

                            &--text {
                                font-size: 16px;
                                width: 308px;
                                text-align: left;
                            }

                            &--btn {
                                width: 314px;
                            }
                        }
                    }
                }

                &--bottom {
                    &--block {
                        display: flex;
                        flex-direction: column-reverse;
                    }

                }
            }
        }

        .secrets {
            &_numbers {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 0;

                &--title {
                    width: 314px;
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: 0%;
                    text-align: center;
                    vertical-align: middle;
                }

                &--text {
                    width: 100%;
                    max-width: 314px;
                    font-family: DM Sans;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-align: center;
                }

                &--container {
                    flex-direction: column;
                    align-items: center;

                    &--box,
                    &--box--2 {
                        margin: 0 auto;
                        width: 100%;
                        max-width: 314px;
                    }

                    &--box {
                        margin-bottom: 80px;

                        &--2 {
                            margin-bottom: 43px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    main {
        .videos {
            &_container {
                &--box {
                    &--title {
                        font-family: DM Sans;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 46px;
                        letter-spacing: 0%;
                        text-align: center;
                        width: 314px;
                    }

                    &--bottom {
                        &--box {
                            flex-direction: column;

                            &--info {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                h4 {
                                    font-family: DM Sans;
                                    font-weight: 700;
                                    font-size: 22px;
                                    line-height: 150%;
                                    letter-spacing: 0%;
                                    text-align: center;

                                }

                                &--text,
                                &--text2 {
                                    font-family: DM Sans;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    letter-spacing: 0.5px;
                                    text-align: center;
                                    width: 314px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .recommendation {
            &_container {

                &--bottom--block--img,
                &--top--block--img {
                    max-width: 314px;
                }
            }
        }

        .secrets {

            &_slider {

                &--track {
                    gap: 0;
                }

                &--track img {
                    width: 100%;
                    opacity: 1;
                    transform: scale(1);
                }

                &--track img.active {
                    transform: scale(1);
                }

                &--prev {
                    left: 12px;
                }

                &--next {
                    right: 12px;
                }
            }
        }
    }

    .footer {
        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 36px;

            &--box {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 36px;

                &--img {
                    padding-top: 80px;
                }

                &--nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 36px;
                }
            }

            &--social {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 36px;
            }
        }

        #scrollTopBtn {
            width: 104px;
            height: 104px;
            cursor: pointer;
            position: absolute;
            top: -52px;
            left: 135px;
        }
    }
}