.header {
    background:
        linear-gradient(215.79deg,
            rgba(0, 0, 0, 0.31) 29.66%,
            rgba(0, 0, 0, 0.29) 84.2%),
        url("./img/explore-background-header.png");

    background-size: cover;

    &_top {
        width: 100%;
        max-width: 1750px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 28px;

        &--info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 75px;

            &--nav {
                width: 572px;
                display: flex;
                justify-content: space-between;

                &--link {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: #FFFFFF;

                    position: relative;
                    display: inline-block;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        width: 0;
                        height: 4px;
                        background-color: #FFFFFF;
                        transition: width 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        &--search {
            display: flex;
            align-items: center;
            gap: 33px;

            svg {
                display: none;
            }
        }
    }

    &_bottom {
        position: relative;

        &--days {
            position: absolute;
            left: 71px;
            top: 150px;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            gap: 239px;

            &--text {
                height: 131px;
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                gap: 30px;

                p {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    rotate: -90deg;
                    box-shadow: 0px 0px 4px 0px #0000001A;
                }
            }

            &--container {
                position: relative;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                gap: 20px;

                p {
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    rotate: -90deg;
                }

                &--lines {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;

                    &--red {
                        height: 100px;
                        border: 2px solid #DD2242;
                    }

                    &--white {
                        height: 296px;
                        border: 1px solid #FFFFFF;
                    }
                }
            }
        }

        &--container {
            width: 100%;
            max-width: 1225px;
            margin: 0 auto;
            padding-top: 195px;

            &--h {
                width: 627px;
                font-family: Roboto;
                font-weight: 900;
                font-size: 120px;
                line-height: 130px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 21px;
            }

            &--btn {
                font-family: DM Sans;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;
                color: #FFFFFFCC;
                padding: 24px 64px 24px 64px;
                border: none;
                border-radius: 211px;
                background-color: #DD2242;
                margin-bottom: 241px;
                cursor: pointer;
            }

            &--info {
                position: relative;
                display: flex;

                &--img {
                    position: absolute;
                    bottom: 0px;
                    cursor: pointer;
                    right: 1px;


                    box-shadow:
                        0 6px 12px rgba(0, 0, 0, 0.35),
                        0 18px 36px rgba(0, 0, 0, 0.45);

                    transition: box-shadow 0.25s ease;

                    img {
                        position: relative;
                        transition: filter 0.25s ease;
                    }

                    svg {
                        position: absolute;
                        z-index: 3;
                        left: 170px;
                        top: 90px;
                    }
                }

                &--img:hover {
                    box-shadow:
                        0 10px 20px rgba(0, 0, 0, 0.45),
                        0 26px 50px rgba(0, 0, 0, 0.6);

                    img {
                        filter: brightness(0.75);
                    }

                    svg {
                        circle {
                            fill: #DD2242;
                            transition-duration: 0.3s;
                        }

                        path {
                            fill: #FFFFFF;
                        }
                    }
                }

                &--block {
                    width: 1225px;
                    background-color: rgba(0, 0, 0, 0.6);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 41px 128px 50px 71px;
                    position: relative;

                    &--box {
                        width: 210px;

                        &--number {
                            font-family: Roboto;
                            font-weight: 900;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-transform: uppercase;
                            color: #DD2242;
                            margin-bottom: 14px;
                        }

                        &--h {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 26.41px;
                            line-height: 41.08px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--p {
                            color: #939393;
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                        }
                    }

                    &--box3 {
                        width: 210px;

                        &--number {
                            font-family: Roboto;
                            font-weight: 900;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-transform: uppercase;
                            color: #DD2242;
                            margin-bottom: 14px;
                        }

                        &--h {
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 26.41px;
                            line-height: 41.08px;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                        }

                        &--p {
                            color: #939393;
                            font-family: DM Sans;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }
    }
}